.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: center;
  background-color: #020a2c;
  padding:25px 0;
  color: rgb(23, 233, 76);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 15px;
}

.navbar {
  font-family: 'Your Font Name', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-list {
  font-family: 'Your Font Name', sans-serif;
}

/* .nav-list li {
  color: rgb(207, 9, 9);
} */

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  li {
    margin: 10px 0;
  }
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 10;
  font-size: 18px;
  color: #2ec411;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: rgb(245, 245, 245);
  margin: 4px 0;
  transition: 0.4s;
}

.nav-list {
  display: flex;
  z-index: 5;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    margin-left: 50px;
  }

  .nav-list.open {
    display: flex;
  }
}

.nav-list a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent; /* เส้นใต้เริ่มต้นโปร่งใส */
}

.nav-list a:hover {
  color: rgb(37, 163, 6);
  border-bottom: 2px solid rgb(37, 163, 6); /* เส้นใต้เมื่อ hover */
}

.nav-list a.active {
  border-bottom: 2px solid rgb(23, 233, 76); /* เส้นใต้เมื่อเลือก */
  color: rgb(23, 233, 76); /* เปลี่ยนสีลิงก์เมื่อเลือก */
}

.menu-icon:active .bar {
  background-color: rgb(75, 211, 11);
  transition: background-color 0.2s;
}

.menu-icon.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}